*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}
.ig_img{
  height: 10vh;
}
.App{
  display: grid;
  place-items: center;
  background-color: #000;
  height: 100vh;
}
.top_header h2{
  color: #fff;
}
.App_videos{
  width: 45vh;
  height: 70vh;
  background-color: #fff;
  position: relative;
  overflow: scroll;
  scroll-snap-type: y mandatory;
  border-radius: 20px;
  margin-bottom: 40px;
  max-width: 500px;
  max-height: 1200px;
  box-shadow: 3px 5px 6px -10px #fff;
}
.App_videos::-webkit-scrollbar{
  display: none;
}
.App_videos{
  -ms-overflow-style: none;
  scrollbar-width: none;

}